<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.241\\sqlexpress;Initial Catalog=identity;user id=sa;password=Aa123456;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
